:root {
  --color-accent: #105ef0;
  --color-accent-hover: #417dec;
  --color-accent-shadow: #062152;
  --color-border: #181a1d;
  --color-bg: #0a0a0e;
  --color-bg-hover: #131314;
  --transition-speed: 200ms;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
}

.container {
  max-width: 1598px;
  margin: auto;
  padding: 0 2rem;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1f1f1f;
}

body::-webkit-scrollbar-thumb {
  background: #591ade;
}
